
/* 
    Created on : 22-mar-2019, 22:55:39
    Author     : Hely Mendez
*/
body {
    margin: 1px;
    background: linear-gradient(45deg, #83AF9B, #C8C8A9);
    font-family: sans-serif;
    font-weight: 100;
}

#cabeza  {
    position: relative;
    width: 1500px;
    height: 68px;
    left: 210px;
    top:15px;
    background-color:  #e5e5da;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: impact;
    font-size: 25px;

}

.container {
    position: absolute;
    top: 27%;
    left: 11%;
}

table {
    border-collapse: separate;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th, td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #000000;
}

th {
    text-align: center;
}

thead, th {
    background-color:  #e5e5da;
}

#trr:hover {
    border-style: solid;
    background-color: rgba(255,255,255,0.3);
}
#back{
    margin-top: 0px;
    margin-bottom: 0px;
}
