
/* 
    Created on : 05-mar-2019, 19:44:28
    Author     : Hely Mendez
*/
body{
    margin: 0px;
    background-image: url("../images/acc.jpg");
    background-repeat: no-repeat;
}

button{
    cursor: pointer;
    width: 464px;
    height: 70px;
    margin-top: 28px;
    background: #478A8F;
    box-shadow: 
        0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: #F8ECEC;
}
button:hover{
    background: #78bcc1;
    font-size: 26px;
}
#container_form{
    background: linear-gradient(45deg, #83AF9B,rgba(0,0,255,0.2));
    border-bottom: 0px inset #478A8F;
    border-left: 20px solid #478A8F;
    border-top: 10px inset #478A8F;
    border-right: 10px inset #478A8F;
    box-sizing: border-box;
    box-shadow: inset 10px 10px 10px  #CECACA;
    position: absolute;
    width: 900px;
    height: 925px;
    left: 525px;
    top: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}
input{
    display: block;
    margin-top:10px;
    margin-left: 200px;
    padding:0.15rem;
    color: inherit;
    width: 50%;
    font-family: inherit;
    font-size: 2.1rem;
    font-weight: inherit;
    line-height: 1.6rem;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow 300ms;
}
input::placeholder{
    color: #B0BEC5;
}
input:focus{
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem rgba(0,0,255,0.6);
}
#bol{
    position: absolute;
    width: 50%;
    height: 49px;
    left: 200px;
    top: 550px;
    background: #FEF6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 300ms;
    border-radius: 0.4rem;
    font-family: inherit;
    font-size: 1.5rem;
}
.exOne{
    display:inline;
    width: 25px;
    margin-left: 5px;
    margin-top: 15px;
}
.exTwo{
    display: inline;
    width: 25px;
    margin-left: 10px;
    margin-top: -150px;
}
#buttonOne{
    position: absolute;
    width: 150px;
    height: 58px;
    left: 50px;
    top: 815px;
    background: #4D8A92;
    border: 0.5px solid #968888;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#buttonTwo{
    position: absolute;
    width: 150px;
    height: 58px;
    left: 650px;
    top: 815px;
}
buttonTwo.value{
    background: #4D8A92;
    border: 0.5px solid #968888;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#log{
    margin-top: 21%;
}
#back{
    margin-top: 0px;
}

.slct{
    display: block;

    margin-top:0px;
    margin-left: 200px;
    padding:1.28rem;
    color: inherit;
    width: 50%;
    font-family: inherit;
    font-size: 2.1rem;
    font-weight: inherit;
    line-height: 1.6rem;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow 300ms;
}
.slct option{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: #250;
}