/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-mar-2019, 9:37:12
    Author     : Hely Mendez]
*/
body{
    margin: 1px;
    background-image: url("../images/invoice.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
#formul{
    position: absolute;
    width: 600px;
    height: 900px;
    left: 35%;
    top: 50px;
    background-color:rgba(0,0,255,0.2);
    border-bottom: 0px inset #478A8F;
    border-left: 20px solid #478A8F;
    border-top: 10px inset #478A8F;
    border-right: 10px inset #478A8F;
    box-sizing: border-box;
    box-shadow: inset 10px 10px 10px  #CECACA;
}

#user{
    position: absolute;
    width: 180px;
    left: 25%;
    top: 42px;
}
input{
    position: relative;
}
#inputOne{
    display: block;
    margin-top:260px;
    padding:1.28rem;
    color: inherit;
    width: 90%;
    font-family: inherit;
    font-size: 2.1rem;
    font-weight: inherit;
    line-height: 1.6rem;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow 300ms;

}
input::placeholder{
    color: #B0BEC5;
}
input:focus{
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem rgba(0,0,255,0.6);
}

#inputTwo{
    display: block;
    margin-top:120px;
    padding:1.28rem;
    color: inherit;
    width: 90%;
    font-family: inherit;
    font-size: 2.1rem;
    font-weight: inherit;
    line-height: 1.6rem;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow 300ms;
}

button{
    position: absolute;
    width: 250px;
    height: 60px;
    left: 150px;
    top: 645px;
    border: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: #FFFFFF;

    background: #478A8F;
}
button:hover{
    background: #78bcc1;
    font-size: 26px;
}

#plus{
    width:90px;
    position: absolute;
    left: 500px;
    top: -15px;
}
#plus:hover{
    opacity: 0.50;

}
#p{
    margin-top:180px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px; 
    color: #F00;
}